@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  min-height: 100vh;
  overflow: hidden;
  background-color: #252836;
  color: #fff;
  font-family: 'Barlow', sans-serif;
}

.container {
  max-width: 1554px;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 8px;
}
main {
  width: 100%;
  padding: 20px 32px 20px 20px;
}
ul {
  list-style: none;
  padding: 0;
}
@import './Nav';
@import './Category';
@import './Cardi';
@import './Order';
@import './_Modal';
@import './_Setting';
@import './Modaling';
@import './_Edit';